<div class="modal-bg">
    <div id="modal" class="panel panel-default detail-panel">
        <div class="panel-heading detail-header">{{ productDetail.Name }}<a class="glyphicon glyphicon-remove" id="close"></a></div>
        <div class="panel-body">
            <div class="col-sm-6 col-md-6">
                <img class="img-responsive" ng-src="{{ productDetail.PictureDetailPath || 'http://placehold.it/500x540'}}">
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="row detail" ng-if="productDetail.Description">
                    <p>{{ productDetail.Description }}</p>
                </div>
                <div class="row detail-price detail">
                    <p>Price: {{productDetail.Price | currency}}</p>
                </div>
            </div>
            <button type="button" class="btn btn-lg btn-default detail-add-btn"
                    ng-click="cart.addItem(productDetail.Id, productDetail.Name, productDetail.Price, 1)">
                Add to cart
            </button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#food" class="list-group-item" ng-click="selectTab(1)">Burgers</a>
            <a href="#food" class="list-group-item" ng-click="selectTab(2)">Drinks</a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <a href="#shoppingCart/" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1" class="pull-right shopping-cart-link">
                        <i class="glyphicon glyphicon-shopping-cart" />
                        <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row" ng-repeat="row in chunkedProducts">
                    <div class="col-ld-4 col-md-4 col-sm-4" ng-repeat="product in row ">
                        <div class="thumbnail">
                            <div class="product-img" id="product{{product.Id}}">
                                <a href="" ng-click="showProductDetails(product.Id)">
                                    <img class="img-responsive" ng-src="{{product.PicturePath || 'http://placehold.it/300x270'}}" alt="image">
                                </a>
                                <span class="glyphicon glyphicon-plus button-add-to-cart"
                                      show-on-hover-parent
                                      added-product-quantity-control="{{product.Id}}"
                                      ng-click="cart.addItem(product.Id, product.Name, product.Price, 1)">
                                </span>
                            </div>
                            <div class="caption">
                                <h4 class="pull-right">{{ product.Price | currency }}</h4>
                                <h4 title="{{product.Name}}">
                                    <a href="" ng-click="showProductDetails(product.Id)">{{ product.Name | cut:true:40:'...'}}</a>
                                </h4>
                                <!-- <p>{{ product.Description | cut:true:100:'...'}}</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>